ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventButton {
    width: 170px;
}
.vulnInner {
    padding: 20px 40px;
    text-align: center;
}
.xss__input {
    width: 450px !important;
}
h2 {
    text-align: center;
}
p {
    text-align: justify;
}
img {
    margin-top: 1em;
}
.tab {
    padding: 20px 40px;
}
.userAvatar img{
    margin: 0;
    margin-right: 16px;
}
.xss-image {
    width: 50%;
    border-radius: 10px;
}
.xss-card {
    width: 50%;
}
header {
    margin-top: 2em;
}
.XSS__ul {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

body, html {
    overflow-x: hidden;
}