.transaction {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    min-height: 25em;
    justify-content: space-between;
    border-radius: 5px;
}
.auth-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    align-items: center;
    border-radius: 5px;
}
.auth-header {
    background: #AA00FF;
    height: 3em;
    border-radius: 5px 5px 0 0;
}
.auth-footer {
    height: 2em;
}
.eventButton {
    margin-top: 1.5em;
    width: 50%;
}
.eventButton button {
    background-color: #AA00FF !important;
}
.csrf__wrapper {
    width: 100%;
}
.container {
    align-items: flex-start;
}
.CSRF {
    width: 30%;
    margin: 3em auto;
}
.csrf__tab_1 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}