p {
    font-size: 18px;
}
.vuln {
    min-height: 90vh;
    width: 100%;
}
.owasp {
    width: 50% !important;
    min-width: 50% !important;
    border-radius: 10px;
}
.CardMedia div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainButton {
    margin-bottom: 2em;
}
.button__wrapper {
    text-align: center;
}
.CardHeader, .CardHeader div {
    text-align: center;
}
.CardHeader div {
    display: flex !important;
    justify-content: center;
}
.CardHeader span, .CardHeader div {
    font-size: 20px !important;
    padding-right: 0 !important;
}
.CardText {
    padding: 20px 40px !important;
}
ul {
    align-items: flex-start;
}